@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');

* {
    font-family: 'Baloo Chettan 2', 'cursive';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background: none;
}

button:hover{
    cursor: pointer;
}

button:focus{
    outline: none;
}

body, html {
    width: 100%;
    height: 100vh;
    background-image: url("../img/laptop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-code {
    display: flex;
    justify-content: center;
}

.login-card {
    width: 60%;
    background-color: #fff;
    border-radius: 10px;
    height: 50vh;
    margin-top: 25vh;
    display: grid;
    grid-template-columns: 40% 60%;
}

.left-panel {
    background-color: rgba(243, 156, 18, 1.0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.panel-header {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.right-panel {
    display: flex;
    flex-direction: column;
}

.right-panel > .header {
    height: 60px;
}

.right-panel > .content {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.right-panel > .footer {
    height: 60px;
    text-align: center;
    line-height: 50px;
}

.right-panel > .footer > button {
    color: rgba(230, 126, 34, 1.0);
    font-size: 16px;
}


.logo-container {
    border-radius: 50%;
    background-color: #fff;
    width: 80px;
    height: 80px;
    padding-top: 5px;
    padding-left: 15px;
}

.welcome-title {
    color: #fff;
    text-align: center;
}

.login-title {
    color:rgba(243, 156, 18, 1.0);
    text-align: center;
}

.input-group {
    display: grid;
    grid-template-columns: 30px auto;
    background-color: rgba(236, 240, 241, 1.0);
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 2px;
    padding: 0 10px;
}

input:focus {
    outline: none;
}

.input-submit {
    margin-top: 30px;
}

input {
    border: none;
    font-size: 18px;
    color: rgba(127, 140, 141, 1.0);
    width: 100%;
    height: 40px;
    background-color: inherit;
}

input[type="submit"] {
    background-color: rgba(243, 156, 18, 1.0);
    color: #fff;
}

input[type="submit"]:hover {
    cursor: pointer;
}

.icon {
    padding-top: 9px;
}

.icon > i {
    color: rgba(127, 140, 141, 1.0);
    font-size: 22px;
}

.forgot-password-container {
    margin-top: 10px;
}

.forgot-password-btn {
    color: rgba(127, 140, 141, 1.0);
    font-size: 16px;
}

.connexion-methods {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 20px 0;
}

.cnx-google, .cnx-github {
    display: flex;
    padding-left: 10px;
}

.cnx-google-btn, .cnx-github-btn {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: rgba(44, 62, 80, 1.0);
    padding-top: 5px;
}

.cnx-google-btn > i, .cnx-github-btn > i {
    color: #fff;
    font-size: 24px;
}

.error {
    color: rgba(192, 57, 43, 1.0);
    display: none;
}